---
layout: default
permalink: /lab-notebook/
---

<div class="home">

  <h1 class="page-heading">Lab notebook: all posts <span class="post-meta">(Notebook last updated {{ site.time | date: "%b %-d, %Y" }})</span></h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.tags contains 'lab notebook' %}
        <li>
           <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;</span>

           {% if post.tags != empty %}
             {% for tag in post.tags %}
               {% if tag != "lab notebook" %}
                 <span class="post-tag">{{ tag }}</span>
               {% endif %}
             {% endfor%}
           {% endif %}

			<span class="post-meta">&nbsp;Last modified {% capture lastmod_date %}{% last_modified {{ post.path }} %}{% 
endcapture %}{{ lastmod_date | timeago }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
        {% endif %}
    {% endfor %}
  </ul>

</div>
